In [2]:
import quandl
import numpy as np
import pandas as pd

In [4]:
quandl.ApiConfig.api_key = 'tAyfv1zpWnyhmDsp91yv'
aapl_table = quandl.get('WIKI/AAPL')

In [5]:
aapl = aapl_table['Adj. Close']['2017']

In [6]:
print aapl

Date
2017-01-03    114.715378
2017-01-04    114.586983
2017-01-05    115.169696
2017-01-06    116.453639
2017-01-09    117.520300
2017-01-10    117.638817
2017-01-11    118.270913
2017-01-12    117.777088
2017-01-13    117.569682
2017-01-17    118.517825
2017-01-18    118.507948
2017-01-19    118.300542
2017-01-20    118.517825
2017-01-23    118.596837
2017-01-24    118.488195
2017-01-25    120.374604
2017-01-26    120.433863
2017-01-27    120.443739
2017-01-30    120.127692
2017-01-31    119.851150
2017-02-01    127.159749
2017-02-02    126.942467
2017-02-03    127.485673
2017-02-06    128.680728
2017-02-07    129.905412
2017-02-08    130.409113
2017-02-09    131.347379
2017-02-10    131.049809
2017-02-13    132.210332
2017-02-14    133.926319
                 ...
2017-07-10    144.473805
2017-07-11    144.941906
2017-07-12    145.151057
2017-07-13    147.172854
2017-07-14    148.437722
2017-07-17    148.955620
2017-07-18    149.473519
2017-07-19    150.409720
2017-07-20    149.732468
2017-07-21    149.662751
2017-07-24    151.475396
2017-07-25    152.122770
2017-07-26    152.839860
2017-07-27    149.951579
2017-07-28    148.895863
2017-07-31    148.248489
2017-08-01    149.443640
2017-08-02    156.504989
2017-08-03    154.941334
2017-08-04    155.758020
2017-08-08    159.433108
2017-08-09    160.409148
2017-08-10    155.270000
2017-08-11    157.480000
2017-08-14    159.850000
2017-08-15    161.600000
2017-08-16    160.950000
2017-08-17    157.870000
2017-08-18    157.500000
2017-08-21    157.210000
Name: Adj. Close, Length: 159, dtype: float64

In [7]:
print aapl['2017-3']

Date
2017-03-01    138.657681
2017-03-02    137.834404
2017-03-03    138.647762
2017-03-06    138.211326
2017-03-07    138.389868
2017-03-08    137.874080
2017-03-09    137.556672
2017-03-10    138.012946
2017-03-13    138.072460
2017-03-14    137.864161
2017-03-15    139.322254
2017-03-16    139.550391
2017-03-17    138.856061
2017-03-20    140.314154
2017-03-21    138.707276
2017-03-22    140.274478
2017-03-23    139.778528
2017-03-24    139.500796
2017-03-27    139.738852
2017-03-28    142.635200
2017-03-29    142.952608
2017-03-30    142.764147
2017-03-31    142.496334
Name: Adj. Close, dtype: float64

In [8]:
aapl['2017-2':'2017-4']

Date
2017-02-01    127.159749
2017-02-02    126.942467
2017-02-03    127.485673
2017-02-06    128.680728
2017-02-07    129.905412
2017-02-08    130.409113
2017-02-09    131.347379
2017-02-10    131.049809
2017-02-13    132.210332
2017-02-14    133.926319
2017-02-15    134.412350
2017-02-16    134.248686
2017-02-17    134.620649
2017-02-21    135.592711
2017-02-22    135.999390
2017-02-23    135.424088
2017-02-24    135.553035
2017-02-27    135.820848
2017-02-28    135.880362
2017-03-01    138.657681
2017-03-02    137.834404
2017-03-03    138.647762
2017-03-06    138.211326
2017-03-07    138.389868
2017-03-08    137.874080
2017-03-09    137.556672
2017-03-10    138.012946
2017-03-13    138.072460
2017-03-14    137.864161
2017-03-15    139.322254
                 ...
2017-03-17    138.856061
2017-03-20    140.314154
2017-03-21    138.707276
2017-03-22    140.274478
2017-03-23    139.778528
2017-03-24    139.500796
2017-03-27    139.738852
2017-03-28    142.635200
2017-03-29    142.952608
2017-03-30    142.764147
2017-03-31    142.496334
2017-04-03    142.536010
2017-04-04    143.597342
2017-04-05    142.853418
2017-04-06    142.496334
2017-04-07    142.178926
2017-04-10    142.010303
2017-04-11    140.482777
2017-04-12    140.651400
2017-04-13    139.907475
2017-04-17    140.681157
2017-04-18    140.056260
2017-04-19    139.540472
2017-04-20    141.286216
2017-04-21    141.117593
2017-04-24    142.476496
2017-04-25    143.369205
2017-04-26    142.487208
2017-04-27    142.625281
2017-04-28    142.486415
Name: Adj. Close, Length: 61, dtype: float64

In [9]:
print aapl.head(5)
print aapl.tail(10)

Date
2017-01-03    114.715378
2017-01-04    114.586983
2017-01-05    115.169696
2017-01-06    116.453639
2017-01-09    117.520300
Name: Adj. Close, dtype: float64
Date
2017-08-08    159.433108
2017-08-09    160.409148
2017-08-10    155.270000
2017-08-11    157.480000
2017-08-14    159.850000
2017-08-15    161.600000
2017-08-16    160.950000
2017-08-17    157.870000
2017-08-18    157.500000
2017-08-21    157.210000
Name: Adj. Close, dtype: float64

In [10]:
by_month = aapl.resample('M').mean()
print by_month

Date
2017-01-31    118.093136
2017-02-28    132.456268
2017-03-31    139.478802
2017-04-30    141.728436
2017-05-31    151.386305
2017-06-30    147.233064
2017-07-31    147.706190
2017-08-31    157.444303
Freq: M, Name: Adj. Close, dtype: float64

In [12]:
by_week = aapl.resample('W').mean()
print by_week.head()

Date
2017-01-08    115.231424
2017-01-15    117.755360
2017-01-22    118.461035
2017-01-29    119.667448
2017-02-05    124.313346
Freq: W-SUN, Name: Adj. Close, dtype: float64

In [4]:
aapl.resample('M').max()

Date
2017-01-31    120.932434
2017-02-28    136.551200
2017-03-31    143.532630
2017-04-30    144.179981
2017-05-31    156.100000
2017-06-30    155.450000
2017-07-31    153.460000
Freq: M, Name: Adj. Close, dtype: float64

In [13]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()

In [14]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()

In [16]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[1] - 1)
print monthly_return

Date
2017-01-31    0.045940
2017-02-28    0.070409
2017-03-31    0.033823
2017-04-30   -0.007736
2017-05-31    0.039829
2017-06-30   -0.073528
2017-07-31    0.033035
2017-08-31    0.004505
Freq: M, Name: Adj. Close, dtype: float64

In [15]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print last_day

Date
2017-01-31    119.851150
2017-02-28    135.880362
2017-03-31    142.496334
2017-04-30    142.486415
2017-05-31    152.142689
2017-06-30    143.438008
2017-07-31    148.248489
2017-08-31    157.210000
Freq: M, Name: Adj. Close, dtype: float64

In [5]:
by_week = aapl.resample('W').mean()

In [6]:
twomon = aapl.resample('2M').std()
twomon

Date
2017-01-31    1.788740
2017-03-31    4.341378
2017-05-31    5.476627
2017-07-31    3.927178
Freq: 2M, Name: Adj. Close, dtype: float64

In [7]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
last_day

Date
2017-01-31    120.337440
2017-02-28    136.431689
2017-03-31    143.074505
2017-04-30    143.064546
2017-05-31    152.760000
2017-06-30    144.020000
2017-07-31    149.500000
Freq: M, Name: Adj. Close, dtype: float64

In [8]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[1] - 1)
monthly_return

Date
2017-01-31    0.045940
2017-02-28    0.070409
2017-03-31    0.033823
2017-04-30   -0.007736
2017-05-31    0.039829
2017-06-30   -0.073528
2017-07-31    0.037546
Freq: M, Name: Adj. Close, dtype: float64

In [9]:
print monthly_return.mean()
print monthly_return.std()
print monthly_return.max()

0.0208974076157
0.0476398315185
0.0704090212384

In [18]:
print last_day.diff()
print last_day.pct_change()

Date
2017-01-31          NaN
2017-02-28    16.029211
2017-03-31     6.615972
2017-04-30    -0.009919
2017-05-31     9.656274
2017-06-30    -8.704681
2017-07-31     4.810482
2017-08-31     8.961511
Freq: M, Name: Adj. Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133743
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067770
2017-06-30   -0.057214
2017-07-31    0.033537
2017-08-31    0.060449
Freq: M, Name: Adj. Close, dtype: float64

In [17]:
print aapl.describe()

count    159.000000
mean     141.555690
std       11.555853
min      114.586983
25%      137.695538
50%      142.853418
75%      149.842024
max      161.600000
Name: Adj. Close, dtype: float64

In [19]:
daily_return = last_day.pct_change()
print daily_return.fillna(0)

Date
2017-01-31    0.000000
2017-02-28    0.133743
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067770
2017-06-30   -0.057214
2017-07-31    0.033537
2017-08-31    0.060449
Freq: M, Name: Adj. Close, dtype: float64

In [20]:
daily_return = last_day.pct_change()
print daily_return.fillna(method = 'bfill')

Date
2017-01-31    0.133743
2017-02-28    0.133743
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067770
2017-06-30   -0.057214
2017-07-31    0.033537
2017-08-31    0.060449
Freq: M, Name: Adj. Close, dtype: float64

In [12]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133743
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067770
2017-06-30   -0.057214
2017-07-31    0.038050
Freq: M, Name: Adj. Close, dtype: float64

In [13]:
aapl.resample('M').agg(lambda x: max(x) - min(x))

Date
2017-01-31     5.880519
2017-02-28     9.093671
2017-03-31     5.417829
2017-04-30     4.073331
2017-05-31    10.167192
2017-06-30    13.180000
2017-07-31    10.730000
Freq: M, Name: Adj. Close, dtype: float64

In [21]:
dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print df

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [15]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print data_frame

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [16]:
print df.columns
print df.AAPL
print df['GOOG']

Index([u'AAPL', u'GOOG', u'IBM'], dtype='object')
2017-07-03    143.50
2017-07-04    144.09
2017-07-05    142.73
2017-07-06    144.18
2017-07-07    143.77
Freq: D, Name: AAPL, dtype: float64
2017-07-03    898.70
2017-07-04    911.71
2017-07-05    906.69
2017-07-06    918.59
2017-07-07    926.99
Freq: D, Name: GOOG, dtype: float64

In [17]:
df = aapl_table
print df.Close.tail(5)
print df['Adj. Volume'].tail(5)

Date
2017-07-24    152.09
2017-07-25    152.74
2017-07-26    153.46
2017-07-27    150.56
2017-07-28    149.50
Name: Close, dtype: float64
Date
2017-07-24    21122730.0
2017-07-25    18612649.0
2017-07-26    15172136.0
2017-07-27    32175875.0
2017-07-28    16832947.0
Name: Adj. Volume, dtype: float64

In [18]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print aapl_month

              Open      High     Low   Close      Volume  Ex-Dividend  \
Date
2016-01-31   94.79   97.3400   94.35   97.34  64416504.0          0.0
2016-02-29   96.86   98.2300   96.65   96.69  35216277.0          0.0
2016-03-31  109.72  109.9000  108.88  108.99  25888449.0          0.0
2016-04-30   93.99   94.7200   92.51   93.74  68531478.0          0.0
2016-05-31   99.60  100.4000   98.82   99.86  42307212.0          0.0
2016-06-30   94.44   95.7700   94.30   95.60  35836356.0          0.0
2016-07-31  104.19  104.5500  103.68  104.21  27733688.0          0.0
2016-08-31  105.66  106.5699  105.64  106.10  29662406.0          0.0
2016-09-30  112.46  113.3700  111.80  113.05  36379106.0          0.0
2016-10-31  113.65  114.2300  113.20  113.54  26419398.0          0.0
2016-11-30  111.56  112.2000  110.27  110.52  36162258.0          0.0
2016-12-31  116.65  117.2000  115.43  115.82  30586265.0          0.0

            Split Ratio   Adj. Open   Adj. High    Adj. Low  Adj. Close  \
Date
2016-01-31          1.0   91.952819   94.426495   91.525989   94.426495
2016-02-29          1.0   94.466655   95.802804   94.261844   94.300856
2016-03-31          1.0  107.008893  107.184446  106.189649  106.296931
2016-04-30          1.0   91.667571   92.379533   90.224141   91.423748
2016-05-31          1.0   97.732787   98.517789   96.967410   97.987913
2016-06-30          1.0   92.669522   93.974588   92.532147   93.807775
2016-07-31          1.0  102.236738  102.589989  101.736299  102.256363
2016-08-31          1.0  104.237384  105.135033  104.217653  104.671460
2016-09-30          1.0  110.945828  111.843576  110.294715  111.527885
2016-10-31          1.0  112.119806  112.691997  111.675865  112.011287
2016-11-30          1.0  110.629129  111.263789  109.349893  109.597807
2016-12-31          1.0  115.676657  116.222068  114.466837  114.853583

            Adj. Volume
Date
2016-01-31   64416504.0
2016-02-29   35216277.0
2016-03-31   25888449.0
2016-04-30   68531478.0
2016-05-31   42307212.0
2016-06-30   35836356.0
2016-07-31   27733688.0
2016-08-31   29662406.0
2016-09-30   36379106.0
2016-10-31   26419398.0
2016-11-30   36162258.0
2016-12-31   30586265.0

In [19]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print aapl_bar

              Open      High     Low   Close
Date
2016-01-31   94.79   97.3400   94.35   97.34
2016-02-29   96.86   98.2300   96.65   96.69
2016-03-31  109.72  109.9000  108.88  108.99
2016-04-30   93.99   94.7200   92.51   93.74
2016-05-31   99.60  100.4000   98.82   99.86
2016-06-30   94.44   95.7700   94.30   95.60
2016-07-31  104.19  104.5500  103.68  104.21
2016-08-31  105.66  106.5699  105.64  106.10
2016-09-30  112.46  113.3700  111.80  113.05
2016-10-31  113.65  114.2300  113.20  113.54
2016-11-30  111.56  112.2000  110.27  110.52
2016-12-31  116.65  117.2000  115.43  115.82

In [20]:
print aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']]

              Open    High     Low   Close
Date
2016-03-31  109.72  109.90  108.88  108.99
2016-04-30   93.99   94.72   92.51   93.74
2016-05-31   99.60  100.40   98.82   99.86
2016-06-30   94.44   95.77   94.30   95.60

In [21]:
above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print above

              Open      High     Low   Close
Date
2016-03-31  109.72  109.9000  108.88  108.99
2016-08-31  105.66  106.5699  105.64  106.10
2016-09-30  112.46  113.3700  111.80  113.05
2016-10-31  113.65  114.2300  113.20  113.54
2016-11-30  111.56  112.2000  110.27  110.52
2016-12-31  116.65  117.2000  115.43  115.82

In [22]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print aapl_bar

              Open      High     Low   Close  rate_return
Date
2016-01-31   94.79   97.3400   94.35   97.34          NaN
2016-02-29   96.86   98.2300   96.65   96.69    -0.006678
2016-03-31  109.72  109.9000  108.88  108.99     0.127211
2016-04-30   93.99   94.7200   92.51   93.74    -0.139921
2016-05-31   99.60  100.4000   98.82   99.86     0.065287
2016-06-30   94.44   95.7700   94.30   95.60    -0.042660
2016-07-31  104.19  104.5500  103.68  104.21     0.090063
2016-08-31  105.66  106.5699  105.64  106.10     0.018136
2016-09-30  112.46  113.3700  111.80  113.05     0.065504
2016-10-31  113.65  114.2300  113.20  113.54     0.004334
2016-11-30  111.56  112.2000  110.27  110.52    -0.026599
2016-12-31  116.65  117.2000  115.43  115.82     0.047955

/usr/local/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [23]:
missing = aapl_bar.isnull()
print missing
print '\n------------------ separate line -----------------\n'
print missing.describe()

             Open   High    Low  Close rate_return
Date
2016-01-31  False  False  False  False        True
2016-02-29  False  False  False  False       False
2016-03-31  False  False  False  False       False
2016-04-30  False  False  False  False       False
2016-05-31  False  False  False  False       False
2016-06-30  False  False  False  False       False
2016-07-31  False  False  False  False       False
2016-08-31  False  False  False  False       False
2016-09-30  False  False  False  False       False
2016-10-31  False  False  False  False       False
2016-11-30  False  False  False  False       False
2016-12-31  False  False  False  False       False

------------------ separate line -----------------

         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [24]:
print missing[missing.rate_return == True]

             Open   High    Low  Close rate_return
Date
2016-01-31  False  False  False  False        True

In [25]:
drop = aapl_bar.dropna()
print drop
print '\n---------------------- separate line--------------------\n'
fill = aapl_bar.fillna(0)
print fill

              Open      High     Low   Close  rate_return
Date
2016-02-29   96.86   98.2300   96.65   96.69    -0.006678
2016-03-31  109.72  109.9000  108.88  108.99     0.127211
2016-04-30   93.99   94.7200   92.51   93.74    -0.139921
2016-05-31   99.60  100.4000   98.82   99.86     0.065287
2016-06-30   94.44   95.7700   94.30   95.60    -0.042660
2016-07-31  104.19  104.5500  103.68  104.21     0.090063
2016-08-31  105.66  106.5699  105.64  106.10     0.018136
2016-09-30  112.46  113.3700  111.80  113.05     0.065504
2016-10-31  113.65  114.2300  113.20  113.54     0.004334
2016-11-30  111.56  112.2000  110.27  110.52    -0.026599
2016-12-31  116.65  117.2000  115.43  115.82     0.047955

---------------------- separate line--------------------

              Open      High     Low   Close  rate_return
Date
2016-01-31   94.79   97.3400   94.35   97.34     0.000000
2016-02-29   96.86   98.2300   96.65   96.69    -0.006678
2016-03-31  109.72  109.9000  108.88  108.99     0.127211
2016-04-30   93.99   94.7200   92.51   93.74    -0.139921
2016-05-31   99.60  100.4000   98.82   99.86     0.065287
2016-06-30   94.44   95.7700   94.30   95.60    -0.042660
2016-07-31  104.19  104.5500  103.68  104.21     0.090063
2016-08-31  105.66  106.5699  105.64  106.10     0.018136
2016-09-30  112.46  113.3700  111.80  113.05     0.065504
2016-10-31  113.65  114.2300  113.20  113.54     0.004334
2016-11-30  111.56  112.2000  110.27  110.52    -0.026599
2016-12-31  116.65  117.2000  115.43  115.82     0.047955

In [26]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print data_frame

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [27]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print log_price
print '\n---------------------- separate line--------------------\n'
concat = pd.concat([aapl_bar, log_price], axis = 1)
print concat

Date
2016-01-31    4.578210
2016-02-29    4.571510
2016-03-31    4.691256
2016-04-30    4.540525
2016-05-31    4.603769
2016-06-30    4.560173
2016-07-31    4.646408
2016-08-31    4.664382
2016-09-30    4.727830
2016-10-31    4.732155
2016-11-30    4.705197
2016-12-31    4.752037
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

              Open      High     Low   Close  rate_return  log_price
Date
2016-01-31   94.79   97.3400   94.35   97.34          NaN   4.578210
2016-02-29   96.86   98.2300   96.65   96.69    -0.006678   4.571510
2016-03-31  109.72  109.9000  108.88  108.99     0.127211   4.691256
2016-04-30   93.99   94.7200   92.51   93.74    -0.139921   4.540525
2016-05-31   99.60  100.4000   98.82   99.86     0.065287   4.603769
2016-06-30   94.44   95.7700   94.30   95.60    -0.042660   4.560173
2016-07-31  104.19  104.5500  103.68  104.21     0.090063   4.646408
2016-08-31  105.66  106.5699  105.64  106.10     0.018136   4.664382
2016-09-30  112.46  113.3700  111.80  113.05     0.065504   4.727830
2016-10-31  113.65  114.2300  113.20  113.54     0.004334   4.732155
2016-11-30  111.56  112.2000  110.27  110.52    -0.026599   4.705197
2016-12-31  116.65  117.2000  115.43  115.82     0.047955   4.752037

In [28]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Split Ratio']].resample('M').agg(lambda x: x[-1])
print df_volume
print '\n---------------------- separate line--------------------\n'
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print df_2017

                Volume  Split Ratio
Date
2016-10-31  26419398.0          1.0
2016-11-30  36162258.0          1.0
2016-12-31  30586265.0          1.0
2017-01-31  49200993.0          1.0
2017-02-28  23482860.0          1.0
2017-03-31  19661651.0          1.0
2017-04-30  20247187.0          1.0

---------------------- separate line--------------------

              Open     High     Low   Close
Date
2016-10-31  113.65  114.230  113.20  113.54
2016-11-30  111.56  112.200  110.27  110.52
2016-12-31  116.65  117.200  115.43  115.82
2017-01-31  121.15  121.390  120.62  121.35
2017-02-28  137.08  137.435  136.70  136.99
2017-03-31  143.72  144.270  143.01  143.66
2017-04-30  144.09  144.300  143.27  143.65

In [29]:
concat = pd.concat([aapl_bar,df_volume],axis = 1)
print concat

              Open      High     Low   Close  rate_return      Volume  \
Date
2016-01-31   94.79   97.3400   94.35   97.34          NaN         NaN
2016-02-29   96.86   98.2300   96.65   96.69    -0.006678         NaN
2016-03-31  109.72  109.9000  108.88  108.99     0.127211         NaN
2016-04-30   93.99   94.7200   92.51   93.74    -0.139921         NaN
2016-05-31   99.60  100.4000   98.82   99.86     0.065287         NaN
2016-06-30   94.44   95.7700   94.30   95.60    -0.042660         NaN
2016-07-31  104.19  104.5500  103.68  104.21     0.090063         NaN
2016-08-31  105.66  106.5699  105.64  106.10     0.018136         NaN
2016-09-30  112.46  113.3700  111.80  113.05     0.065504         NaN
2016-10-31  113.65  114.2300  113.20  113.54     0.004334  26419398.0
2016-11-30  111.56  112.2000  110.27  110.52    -0.026599  36162258.0
2016-12-31  116.65  117.2000  115.43  115.82     0.047955  30586265.0
2017-01-31     NaN       NaN     NaN     NaN          NaN  49200993.0
2017-02-28     NaN       NaN     NaN     NaN          NaN  23482860.0
2017-03-31     NaN       NaN     NaN     NaN          NaN  19661651.0
2017-04-30     NaN       NaN     NaN     NaN          NaN  20247187.0

            Split Ratio
Date
2016-01-31          NaN
2016-02-29          NaN
2016-03-31          NaN
2016-04-30          NaN
2016-05-31          NaN
2016-06-30          NaN
2016-07-31          NaN
2016-08-31          NaN
2016-09-30          NaN
2016-10-31          1.0
2016-11-30          1.0
2016-12-31          1.0
2017-01-31          1.0
2017-02-28          1.0
2017-03-31          1.0
2017-04-30          1.0

In [30]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print concat

              Open    High     Low   Close  rate_return      Volume  \
Date
2016-10-31  113.65  114.23  113.20  113.54     0.004334  26419398.0
2016-11-30  111.56  112.20  110.27  110.52    -0.026599  36162258.0
2016-12-31  116.65  117.20  115.43  115.82     0.047955  30586265.0

            Split Ratio
Date
2016-10-31          1.0
2016-11-30          1.0
2016-12-31          1.0

In [31]:
append = aapl_bar.append(df_2017)
print append

             Close      High     Low    Open  rate_return
Date
2016-01-31   97.34   97.3400   94.35   94.79          NaN
2016-02-29   96.69   98.2300   96.65   96.86    -0.006678
2016-03-31  108.99  109.9000  108.88  109.72     0.127211
2016-04-30   93.74   94.7200   92.51   93.99    -0.139921
2016-05-31   99.86  100.4000   98.82   99.60     0.065287
2016-06-30   95.60   95.7700   94.30   94.44    -0.042660
2016-07-31  104.21  104.5500  103.68  104.19     0.090063
2016-08-31  106.10  106.5699  105.64  105.66     0.018136
2016-09-30  113.05  113.3700  111.80  112.46     0.065504
2016-10-31  113.54  114.2300  113.20  113.65     0.004334
2016-11-30  110.52  112.2000  110.27  111.56    -0.026599
2016-12-31  115.82  117.2000  115.43  116.65     0.047955
2016-10-31  113.54  114.2300  113.20  113.65          NaN
2016-11-30  110.52  112.2000  110.27  111.56          NaN
2016-12-31  115.82  117.2000  115.43  116.65          NaN
2017-01-31  121.35  121.3900  120.62  121.15          NaN
2017-02-28  136.99  137.4350  136.70  137.08          NaN
2017-03-31  143.66  144.2700  143.01  143.72          NaN
2017-04-30  143.65  144.3000  143.27  144.09          NaN

In [32]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print concat

             Close      High     Low    Open  rate_return
Date
2016-01-31   97.34   97.3400   94.35   94.79          NaN
2016-02-29   96.69   98.2300   96.65   96.86    -0.006678
2016-03-31  108.99  109.9000  108.88  109.72     0.127211
2016-04-30   93.74   94.7200   92.51   93.99    -0.139921
2016-05-31   99.86  100.4000   98.82   99.60     0.065287
2016-06-30   95.60   95.7700   94.30   94.44    -0.042660
2016-07-31  104.21  104.5500  103.68  104.19     0.090063
2016-08-31  106.10  106.5699  105.64  105.66     0.018136
2016-09-30  113.05  113.3700  111.80  112.46     0.065504
2016-10-31  113.54  114.2300  113.20  113.65     0.004334
2016-11-30  110.52  112.2000  110.27  111.56    -0.026599
2016-12-31  115.82  117.2000  115.43  116.65     0.047955
2016-10-31  113.54  114.2300  113.20  113.65          NaN
2016-11-30  110.52  112.2000  110.27  111.56          NaN
2016-12-31  115.82  117.2000  115.43  116.65          NaN
2017-01-31  121.35  121.3900  120.62  121.15          NaN
2017-02-28  136.99  137.4350  136.70  137.08          NaN
2017-03-31  143.66  144.2700  143.01  143.72          NaN
2017-04-30  143.65  144.3000  143.27  144.09          NaN

In [33]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print concat

            Change   Close      High     Low    Open  rate_return
Date
2016-01-31     NaN   97.34   97.3400   94.35   94.79          NaN
2016-02-29     NaN   96.69   98.2300   96.65   96.86    -0.006678
2016-03-31     NaN  108.99  109.9000  108.88  109.72     0.127211
2016-04-30     NaN   93.74   94.7200   92.51   93.99    -0.139921
2016-05-31     NaN   99.86  100.4000   98.82   99.60     0.065287
2016-06-30     NaN   95.60   95.7700   94.30   94.44    -0.042660
2016-07-31     NaN  104.21  104.5500  103.68  104.19     0.090063
2016-08-31     NaN  106.10  106.5699  105.64  105.66     0.018136
2016-09-30     NaN  113.05  113.3700  111.80  112.46     0.065504
2016-10-31     NaN  113.54  114.2300  113.20  113.65     0.004334
2016-11-30     NaN  110.52  112.2000  110.27  111.56    -0.026599
2016-12-31     NaN  115.82  117.2000  115.43  116.65     0.047955
2016-10-31  113.65  113.54  114.2300  113.20     NaN          NaN
2016-11-30  111.56  110.52  112.2000  110.27     NaN          NaN
2016-12-31  116.65  115.82  117.2000  115.43     NaN          NaN
2017-01-31  121.15  121.35  121.3900  120.62     NaN          NaN
2017-02-28  137.08  136.99  137.4350  136.70     NaN          NaN
2017-03-31  143.72  143.66  144.2700  143.01     NaN          NaN
2017-04-30  144.09  143.65  144.3000  143.27     NaN          NaN

In [34]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print concat

            Change   Close      High     Low    Open  rate_return
Date
2016-01-31     NaN   97.34   97.3400   94.35   94.79          NaN
2016-02-29     NaN   96.69   98.2300   96.65   96.86    -0.006678
2016-03-31     NaN  108.99  109.9000  108.88  109.72     0.127211
2016-04-30     NaN   93.74   94.7200   92.51   93.99    -0.139921
2016-05-31     NaN   99.86  100.4000   98.82   99.60     0.065287
2016-06-30     NaN   95.60   95.7700   94.30   94.44    -0.042660
2016-07-31     NaN  104.21  104.5500  103.68  104.19     0.090063
2016-08-31     NaN  106.10  106.5699  105.64  105.66     0.018136
2016-09-30     NaN  113.05  113.3700  111.80  112.46     0.065504
2016-10-31     NaN  113.54  114.2300  113.20  113.65     0.004334
2016-11-30     NaN  110.52  112.2000  110.27  111.56    -0.026599
2016-12-31     NaN  115.82  117.2000  115.43  116.65     0.047955
2016-10-31  113.65  113.54  114.2300  113.20     NaN          NaN
2016-11-30  111.56  110.52  112.2000  110.27     NaN          NaN
2016-12-31  116.65  115.82  117.2000  115.43     NaN          NaN
2017-01-31  121.15  121.35  121.3900  120.62     NaN          NaN
2017-02-28  137.08  136.99  137.4350  136.70     NaN          NaN
2017-03-31  143.72  143.66  144.2700  143.01     NaN          NaN
2017-04-30  144.09  143.65  144.3000  143.27     NaN          NaN